.image-parent {
    max-width: 40px;
}
.list-image {
    max-height: 150px;
}
.h1 {
    text-align: right;
}
img.centered {
    margin-left: auto;
    margin-right: auto;
    display: block;
    height: auto;
    width: 700px;
}
.header-text {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color:snow;
    text-align: center;
    margin-left: 30px;
}
.header-color {
    background: maroon;
}
.body-color {
    background-color: slategray;
}
.link-text {
    margin-left: 20px;
    color: snow;
    margin-right: 20px;
    font-size: 25px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
#map {
    height: 600px;
}