img.centered {
    margin-left: auto;
    margin-right: auto;
    display: block;
}
.header-text {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color:snow;
    text-align: center;
}
.header-color {
    background: maroon;
}
body {
    background-color: slategray;
}